.container{

}

.wrap{
	text-align: center;
	margin-top: 40px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 400px;
  margin: 5px;
  
}


.button2 {
  display: inline-block;
  border-radius: 4px;
  background-color: #f43333;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 400px;
  margin: 5px;
  
}